.container {
  display: flex;
  align-items: center;
  flex: 1;
}

.stacked {
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    text-align: center;
  }
}

.info {
  display: flex;
  flex: auto;
  flex-direction: column;
}
