.nav {
  margin: 5px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.navitem {
  margin: 0 0 10px;
}

.popoverarrow {
  left: 75% !important;
}

.avatar {
  cursor: pointer;
}

.rightNav {
  display: flex;
  align-items: center;
}
