.avatar {
  position: relative;
}

.sm-badge {
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  top: -5px;
  font-size: 14px;
}

.lg-badge {
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  top: -10px;
  font-size: 24px;
}
